# ignore bytecode files
*.class

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders and myeclipse output
target
bin
build

# ignore eclipse files
.project
.classpath
.settings
.metadata
