<form class="form-horizontal" role="form">
    <div class="space-4"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
            提成的配置方案名
        </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-1" placeholder="输入方案名" class="col-xs-10 col-sm-5" name="name" ng-model="schema.name"/>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
            交易金额
        </label>

        <div class="col-sm-9">
            <select class="col-xs-10 col-sm-5" id="form-field-2" name="money" ng-model="schema.money">
                <option value="{{value}}" ng-repeat="value in values">{{value}}元</option>
            </select>
        </div>
    </div>
    <div class="space-4"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-3">
            交易金额对应的提成
        </label>

        <div class="col-sm-9">
            <input type="text" id="form-field-3" placeholder="输入大于0的整数,单位为元" class="col-xs-10 col-sm-5" name="name" ng-model="schema.deduct"/>
        </div>
    </div>
    <div class="space-4"></div>
    <!-- Date range example -->
    <div class="form-group">
        <label class="control-label">
            <i class="fa fa-calendar"></i>
            <i class="fa fa-arrows-h"></i>
            <i class="fa fa-calendar"></i>
            有效期
            <small>(dynamic)</small>
        </label><br>
        <div class="form-group col-xs-6">
            <input class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker type="text">
        </div>
        <div class="form-group col-xs-6">
            <input class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Until" bs-datepicker type="text">
        </div>
    </div>
    <div class="space-4"></div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="button" ng-click="submit()">
                <i class="ace-icon fa fa-check bigger-110"></i>
                提交
            </button>
            &nbsp; &nbsp; &nbsp;
            <button class="btn" ng-class="reset()">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                重填
            </button>
        </div>
    </div>
    <div class="space-24"></div>
</form>
