<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>主页</title>
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css">

        <script src="http://cdn.bootcss.com/angular.js/1.5.5/angular.js"></script>
        <script src="http://cdn.bootcss.com/angular-ui-router/0.3.1/angular-ui-router.js"></script>
        <script src="http://cdn.bootcss.com/angular-ui-bootstrap/1.0.0/ui-bootstrap-tpls.js"></script>
        <script src="demo.js"></script>

        <!-- <script src="http://cdn.bootcss.com/angular-strap/2.3.9/angular-strap.tpl.js"></script>
        <script src="http://cdn.bootcss.com/angular.js/1.3.0-beta.13/angular-animate.min.js"></script> -->

    </head>
    <body ng-app="palagend.demo">
        <div ng-controller="DatepickerDemoCtrl">
            <pre>Selected date is: <em>{{dt | date:'yyyy-MM-dd hh:mm:ss' }}</em></pre>

            <h4>Inline</h4>
            <div style="display:inline-block; min-height:290px;">
                <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
            </div>

            <hr/>
            <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
            <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
        </div>
    </body>
</html>
