<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>主页</title>
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css">

        <script src="http://cdn.bootcss.com/angular.js/1.4.6/angular.js"></script>
        <script src="http://cdn.bootcss.com/angular.js/1.4.6/angular-animate.js"></script>
        <script src="http://cdn.bootcss.com/angular.js/1.4.6/angular-sanitize.js"></script>
        <script src="http://cdn.bootcss.com/angular-ui-router/0.3.1/angular-ui-router.js"></script>
        <script src="http://cdn.bootcss.com/angular-strap/2.3.9/angular-strap.compat.js"></script>
        <script src="http://cdn.bootcss.com/angular-strap/2.3.9/angular-strap.tpl.js"></script>

    </head>
    <body ng-app="palagend.demo" ng-controller="DatepickerDemoCtrl">
        <!-- mgcrea.ngStrap.datepicker  -->
        <form name="datepickerForm" class="form-inline" role="form">
            <!-- Basic example -->
            <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
                <label class="control-label">
                    <i class="fa fa-calendar"></i>
                    Date
                    <small>(as date)</small>
                </label>
                <input class="form-control" ng-model="selectedDate" name="date" bs-datepicker type="text">
            </div>
            <!-- Custom example -->
            <div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}">
                <label class="control-label">
                    <i class="fa fa-calendar"></i>
                    Date
                    <small>(as number)</small>
                </label>
                <input class="form-control" ng-model="selectedDateAsNumber" data-date-format="yyyy-MM-dd" data-date-type="number" data-min-date="02/10/86" data-max-date="today" data-autoclose="1" name="date2" bs-datepicker type="text">
            </div>
            <hr>
            <!-- Date range example -->
            <div class="form-group">
                <label class="control-label">
                    <i class="fa fa-calendar"></i>
                    <i class="fa fa-arrows-h"></i>
                    <i class="fa fa-calendar"></i>
                    Date range
                    <small>(dynamic)</small>
                </label><br>
                <div class="form-group col-xs-6">
                    <input class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker type="text">
                </div>
                <div class="form-group col-xs-6">
                    <input class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Until" bs-datepicker type="text">
                </div>
            </div>
        </form>
    </body>
</html>
